$caribbean-current: #006d77ff;
$tiffany-blue: #83c5beff;
$alice-blue: #edf6f9ff;
$pale-dogwood: #ffddd2ff;
$atomic-tangerine: #e29578ff;
$dark-grey-black: #171717;
$flat-black: #383838;
$flat-grey: #353531;
$off-white: rgb(235, 235, 235);
$navbar-bg: #141414;
$darkerBlack: rgb(27, 27, 27);
$border-edge: black;
$buttonBG: #3b8df8;
$greenery-green: #04724d;
$wary-orange: #ff9505;
$bad-orange: #ec4e20;
$yorkYellow: #ffb13c;
$yorkYellowDarken: #de9a33;
$modalBG: rgb(245, 245, 245);
$rufous: #a72608;
$fadedText: rgb(171, 171, 171);
$lightGrey: rgb(236, 236, 236);
$lighterGrey: rgb(234, 234, 234);
$light-lightGrey: #737373;
$inputBGGrey: #f8f8f8;
$borderGrey: #d6d6d6;

$title-size: 40px;
