@import 'utilities/variables';

@media screen and (max-width: 1300px) {
  #dashboard {
    grid-template-columns: 1fr;

    grid-template-rows: 87px 230px 1fr;

    #sidebar {
      padding: 0;
      border: 0;

      .sidebar-title {
        display: none;
      }

      .sidebar-options-wrapper {
        background-color: rgba(174, 174, 174, 0.13);
        display: flex;
        justify-content: center;
        padding: 10px 0;

        .sidebar-options {
          display: flex;
          padding: 10px 5px;
          gap: 10px;

          .sidebar-option {
            padding-left: 0;
            padding: 10px 20px;
            border-radius: 5px;
            color: $dark-grey-black;
            font-weight: 500;

            border: 1px solid $borderGrey;
            background-color: $sidebar-option-bg;

            &.active {
              border: 0;
            }

            &:hover {
              background-color: $sidebar-option-bg;
            }

            .icon {
              //   margin: 0;
            }
          }
        }
      }
    }

    .content {
      //   display: flex;
      //   justify-content: center;
      height: 220px;
      overflow-y: auto;
      background-color: $lightGrey;

      .jobs-wrapper {
        overflow-y: visible;

        height: auto;
        border: 0;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
