@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  box-sizing: border-box;
  --global-white: white;
  --input-border: rgba(74, 74, 74, 0.104);
}

a {
  color: #171717;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 235, 235);
}

.global-container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 10px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}
.form-wrapper .immediate-info .form-message-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.form-wrapper .form {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.form-wrapper .form .input {
  display: block;
  border: 0;
  padding: 4px 6px;
  margin: 5px 0;
  width: 100%;
  border-radius: 4px;
  border: 2px solid var(--input-border);
}
.form-wrapper .form {
  width: 100%;
}

.conditions {
  width: 100%;
}
.conditions ul {
  list-style: none;
  padding-bottom: 20px;
}
.conditions ul li {
  display: flex;
  padding: 2px 6px;
  border-radius: 5px;
  font-size: 15px;
  color: #171717;
  margin: 10px 0;
}
.conditions ul li span {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.conditions ul .success span svg {
  fill: #04724d;
}
.conditions ul .invalid span svg {
  fill: #ec4e20;
}

.button {
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 40px;
  background-color: #171717;
  color: white;
  margin-top: 40px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.buttonHoverDark:hover {
  background-color: #2d2d2d;
}

.buttonHoverSuccess:hover {
  background-color: #3276ce;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

#layout {
  flex-grow: 1;
  height: 0px;
}

.layout-dashboard {
  display: flex;
}

#navbar {
  min-height: 40px;
  display: flex;
  background-color: #141414;
  flex-direction: column;
  justify-content: end;
  padding: 0 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#navbar .flex {
  min-height: 100%;
}
#navbar .logo-image {
  width: 150px;
  height: 70px;
}
#navbar .nav-links {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: end;
  list-style: none;
  align-items: flex-end;
}
#navbar .nav-links li {
  font-weight: 400;
  margin: 0 10px;
}
#navbar .nav-links li a {
  color: white !important;
}

#dashboard {
  display: grid;
  grid-template-columns: 220px 400px 1fr;
  width: 100%;
  position: relative;
}
#dashboard #sidebar {
  padding: 5px 0;
  width: 100%;
  background-color: #171717;
  border-right: 1px solid black;
  color: white;
}
#dashboard #sidebar .sidebar-title {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0 10px;
}
#dashboard #sidebar .sidebar-options-wrapper .sidebar-options {
  list-style: none;
}
#dashboard #sidebar .sidebar-options-wrapper .sidebar-options .sidebar-option {
  transition: all 100ms ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding-left: 30px;
}
#dashboard #sidebar .sidebar-options-wrapper .sidebar-options .sidebar-option.active {
  background-color: #c1c1c1;
  color: #171717;
}
#dashboard #sidebar .sidebar-options-wrapper .sidebar-options .sidebar-option:hover {
  background-color: #c1c1c1;
  color: #171717;
}
#dashboard #sidebar .sidebar-options-wrapper .sidebar-options .sidebar-option span {
  pointer-events: none;
}
#dashboard #sidebar .sidebar-options-wrapper .sidebar-options .sidebar-option .icon {
  pointer-events: none;
  margin: 0 10px;
}
#dashboard .jobs-wrapper {
  overflow-y: auto;
  padding: 10px;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  height: 96vh;
}
#dashboard .jobs-wrapper .interactables {
  display: flex;
  justify-content: space-between;
  max-width: 20%;
  align-items: center;
  padding-right: 5px;
}
#dashboard .jobs-wrapper .interactables button {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dashboard .jobs-wrapper .interactables .icon {
  color: #171717;
}
#dashboard .jobs-wrapper .rectangleBtn {
  background-color: rgb(236, 236, 236);
}
#dashboard .jobs-wrapper .rectangleBtn svg {
  fill: #171717;
}
#dashboard .jobs-wrapper .job-item-wrapper {
  width: 100%;
  border-radius: 3px;
  background-color: white;
  overflow: hidden;
  margin: 10px 0;
}
#dashboard .jobs-wrapper .job-item-wrapper .job-item .job-title {
  background-color: #3b8df8;
  display: flex;
  height: 45px;
  color: white;
  justify-content: space-between;
}
#dashboard .jobs-wrapper .job-item-wrapper .job-item .job-title div:nth-child(1) {
  font-weight: 400;
  display: flex;
  align-items: center;
}
#dashboard .jobs-wrapper .job-item-wrapper .job-item .job-title .item-value {
  padding: 0 20px;
  font-size: 13px;
}
#dashboard .jobs-wrapper .job-item-wrapper .job-item .contact {
  padding: 10px;
}
#dashboard .jobs-wrapper .job-item-wrapper .item {
  margin-bottom: 20px;
  position: relative;
}
#dashboard .jobs-wrapper .job-item-wrapper .item .document {
  width: 100%;
  overflow-y: hidden;
  background-color: rgb(236, 236, 236);
}
#dashboard .jobs-wrapper .job-item-wrapper .item .document .head {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#dashboard .jobs-wrapper .job-item-wrapper .item .document #outerContainer #mainContainer #viewerContainer {
  top: 0;
}
#dashboard .jobs-wrapper .job-item-wrapper .item .document .doc {
  min-height: 250px;
  position: relative;
}
#dashboard .jobs-wrapper .job-item-wrapper .item .document .doc iframe {
  position: absolute;
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
#dashboard .jobs-wrapper .job-item-wrapper .small {
  font-size: 14px;
  margin-left: 10px;
}
#dashboard .jobs-wrapper .job-item-wrapper .company {
  font-weight: 500;
  color: rgb(171, 171, 171);
}
#dashboard .jobs-wrapper .job-item-wrapper h3 {
  font-weight: 400;
}

.modal {
  position: absolute;
  top: 15%;
  min-width: 300px;
  min-height: 300px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background-color: rgb(245, 245, 245) !important;
  z-index: 200;
}

.add-job-modal {
  max-height: 400px;
  width: 700px;
  padding: 20px;
  background-color: white !important;
}

#job-form-wrapper {
  padding: 20px;
}
#job-form-wrapper h2 {
  color: #171717;
  padding-bottom: 40px;
  font-size: 28px;
}
#job-form-wrapper form {
  display: grid !important;
  grid-template-columns: 1fr 0.5fr;
}
#job-form-wrapper form .status-checkbox-wrapper {
  padding-left: 20px;
  position: relative;
  height: 100%;
  grid-row: 1/-1;
  grid-column: 2/3;
}
#job-form-wrapper form .status-checkbox-wrapper p {
  text-align: center;
  color: #737373;
  font-weight: 500;
}
#job-form-wrapper form .inputs-wrapper {
  grid-column: 1/2;
  position: relative;
}
#job-form-wrapper form .inputs-wrapper::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #737373;
  top: 0;
  right: -11px;
  opacity: 8%;
}
#job-form-wrapper form #createBtn {
  margin-top: auto;
  margin: 0;
  grid-row: 3/4;
}
#job-form-wrapper label {
  color: #737373;
  font-weight: 400;
  display: block;
}
#job-form-wrapper .input-wrapper {
  margin-bottom: 20px;
}
#job-form-wrapper .input-wrapper .input {
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 7px 5px;
  border-style: none;
  border: 1.5px solid #d6d6d6;
}

.ui {
  background-color: white;
}

.status-checkbox-wrapper div {
  margin: 20px 0;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
}

.Toastify__toast-container {
  z-index: 99999999999999 !important;
}

.data-nextjs-dialog-overlay {
  z-index: 99999999999999 !important;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #3874ff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}
@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.pendingBG {
  background-color: #ff9505 !important;
}

.acceptedBG {
  background-color: #04724d !important;
}

.rejectedBG {
  background-color: #a72608 !important;
}

#blobs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#blobs svg {
  position: absolute;
  width: 400px;
  scale: 1.2;
  top: 10%;
  opacity: 60%;
  animation-name: blob;
  animation-duration: 10s;
}
#blobs svg path {
  fill: rgb(171, 171, 171);
}
#blobs svg:nth-child(1) {
  right: 0;
}
#blobs svg:nth-child(2) {
  top: 40%;
  left: 0;
}
#blobs svg:nth-child(3) {
  transform: translate(50%, -50%);
  top: 25%;
  left: 30%;
  right: 50%;
}

@keyframes blob {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 60%;
  }
}
.relative {
  position: relative;
}

.page {
  z-index: 10;
  position: relative;
}/*# sourceMappingURL=globals.css.map */