@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

$caribbean-current: #006d77ff;
$tiffany-blue: #83c5beff;
$alice-blue: #edf6f9ff;
$pale-dogwood: #ffddd2ff;
$atomic-tangerine: #e29578ff;
$dark-grey-black: #171717;
$flat-black: #383838;
$flat-grey: #353531;
$off-white: rgb(235, 235, 235);
$navbar-bg: $dark-grey-black;
$darkerBlack: rgb(27, 27, 27);
$border-edge: black;
$buttonBG: #3b8df8;
$greenery-green: #04724d;
$wary-orange: #ff9505;
$bad-orange: #ec4e20;
$modalBG: rgb(245, 245, 245);
$rufous: #a72608;
$fadedText: grey;
$lightGrey: rgb(236, 236, 236);
$lighterGrey: rgb(234, 234, 234);
$light-lightGrey: #737373;
$inputBGGrey: #f8f8f8;
$borderGrey: #d6d6d6;

:root {
  box-sizing: border-box;
  --global-white: white;
  --input-border: rgba(0, 0, 0, 0.337);
}

a {
  color: white;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  box-sizing: border-box;
}

body {
  background-color: $off-white;
}

.white-text {
  color: white !important;
}

.form-panel {
  width: 350px;
  height: 400px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;

  .immediate-info {
    .form-message-wrapper {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }
  }

  .form {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;

    .input {
      display: block;
      border: 0;
      padding: 6px;
      margin: 5px 0;
      width: 100%;
      border-radius: 4px;
      border: 2px solid var(--input-border);
    }
  }

  .form {
    width: 100%;
  }
}

.global-container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 10px;
}

.page {
}

.button {
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 40px;
  background-color: $dark-grey-black;
  color: white;
  margin-top: 40px;

  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.buttonHoverDark {
  &:hover {
    background-color: #2d2d2d;
  }
}

.buttonHoverSuccess {
  &:hover {
    background-color: #3276ce;
  }
}

// Layout

#__next {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

#layout {
  flex: 1 1 auto;
  // display: flex;
}

.layout-dashboard {
  display: flex;
}

// Navbar
#navbar {
  min-height: 80px;
  display: flex;
  background-color: $navbar-bg;
  flex-direction: column;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .logo-image {
    width: 150px;
    height: 70px;
  }

  .nav-links {
    width: 30%;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: flex-end;

    li {
      margin: 0 10px;
    }
  }
}

//Dashboard

#dashboard {
  display: grid;
  grid-template-columns: 220px 1fr;
  width: 100%;
  position: relative;
  // height: 100%;

  .dashboard-intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    button {
      border-radius: 10px;
      width: 200px;
      background-color: $buttonBG;
      border: 0;
      color: white;
      // font-weight: 600;
      // word-spacing: 5px;
      font-size: 14px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
      transition: all 100ms ease-in-out;

      &:hover {
        background-color: #2c6cbe;
      }
    }
  }
  .content {
    padding: 10px 40px;
  }

  #sidebar {
    $sidebarPadding: 10px;
    padding: 5px 0;
    width: 100%;
    background-color: $dark-grey-black;
    border-right: 1px solid $border-edge;
    color: white;

    .sidebar-title {
      margin-top: 40px;
      margin-bottom: 20px;
      padding: 0 $sidebarPadding;
    }

    .sidebar-options-wrapper {
      .sidebar-options {
        list-style: none;
        .sidebar-option {
          transition: all 100ms ease-in-out;
          cursor: pointer;
          // margin-bottom: 20px;
          display: flex;
          align-items: center;
          padding: 10px 0;
          padding-left: 30px;

          &:hover {
            background-color: #c1c1c1;
          }
          span {
            pointer-events: none;
          }
          .icon {
            pointer-events: none;
            margin: 0 10px;
          }
        }
      }
    }
  }

  // Jobs
  .jobs-wrapper {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-auto-flow: column;
    // grid-template-rows: repeat(auto-fill);

    display: flex;
    flex-wrap: wrap;

    gap: 10px;
    $expandBtnBg: grey;
    $deleteBtnBg: red;
    $iconColor: $dark-grey-black;

    .interactables {
      display: flex;
      justify-content: space-between;

      .icon {
        color: $iconColor;
      }
    }

    .rectangleBtn {
      // border: 2px solid $dark-grey-black;
      background-color: $lightGrey;
      svg {
        fill: $dark-grey-black;
      }
    }

    .job-item-wrapper {
      // -webkit-box-shadow: 0px 22px 58px -4px rgba(167, 167, 167, 1);
      // -moz-box-shadow: 0px 22px 58px -4px rgba(167, 167, 167, 1);
      // box-shadow: 0px 22px 58px -4px rgba(167, 167, 167, 1);
      min-width: 300px;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 40px;
      background-color: white;
      overflow: hidden;
      max-height: 430px;

      .item {
        margin-bottom: 20px;
        position: relative;

        .document {
          width: 100%;
          overflow-y: hidden;
          background-color: $lightGrey;

          .head {
            padding: 10px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
          }

          #outerContainer #mainContainer #viewerContainer {
            top: 0;
          }
          .doc {
            min-height: 250px;
            position: relative;

            iframe {
              position: absolute;
              display: block;
              padding: 0;
              width: 100%;
              height: 100%;
              border: 0;
            }
          }
        }
      }

      .small {
        font-size: 14px;
        margin-left: 10px;
      }

      .company {
        font-weight: 500;
        color: $fadedText;
      }

      h3 {
        font-style: italic;
        font-weight: 500;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        margin-bottom: 40px;
      }
    }
  }
}

// Modal
.modal {
  position: absolute;
  top: 15%;
  min-width: 300px;
  min-height: 300px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

  // transform: translateX(100%);
  background-color: $modalBG !important;
  z-index: 200;
}

// Add Job Modal
.add-job-modal {
  max-height: 400px;
  width: 700px;
  padding: 20px;
  background-color: white !important;

  h2 {
    color: $dark-grey-black;
    padding-bottom: 10px;
    font-size: 28px;
  }

  form {
    display: grid !important;
    grid-template-columns: 1fr 0.5fr;
    // grid-template-rows: 1fr auto 0.5fr;

    .status-checkbox-wrapper {
      padding-left: 20px;
      position: relative;
      height: 100%;
      grid-row: 1 / -1;
      grid-column: 2 / 3;

      p {
        text-align: center;
        color: $light-lightGrey;
        font-weight: 500;
      }
    }

    .inputs-wrapper {
      grid-column: 1 / 2;
      // padding-right: 20px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: $light-lightGrey;
        top: 0;
        right: -11px;
        opacity: 8%;
      }
    }

    #createBtn {
      margin-top: auto;
      margin: 0;
      grid-row: 3 / 4;
    }
  }

  // Inputs
  label {
    color: $light-lightGrey;
    font-weight: 400;
    display: block;
  }

  .input-wrapper {
    margin-bottom: 20px;

    .input {
      width: 100%;
      background-color: $inputBGGrey;
      border-radius: 3px;
      padding: 7px 5px;
      border-style: none;
      border: 1.5px solid $borderGrey;
    }
  }
}

.status-checkbox-wrapper {
  div {
    margin: 20px 0;
    padding: 5px;
    border-radius: 10px;
    background-color: black;
  }
}

.Toastify__toast-container {
  z-index: 99999999999999 !important;
}

.data-nextjs-dialog-overlay {
  z-index: 99999999999999 !important;
}

// Loader
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #3874ff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.pendingBG {
  background-color: $wary-orange !important;
}

.acceptedBG {
  background-color: $greenery-green !important;
}

.rejectedBG {
  background-color: $rufous !important;
}
