@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
:root {
  box-sizing: border-box;
  --global-white: white;
  --input-border: rgba(0, 0, 0, 0.337);
}

a {
  color: white;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 235, 235);
}

.wary-orange-bg {
  background-color: #ff9505;
}

.bad-orange-bg {
  background-color: #ec4e20;
}

.greenery-green-bg {
  background-color: #04724d;
}

.rufous-bg {
  background-color: #a72608;
}

.white-text {
  color: white !important;
}

.form-panel {
  width: 350px;
  height: 400px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}
.form-wrapper .immediate-info .form-message-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.form-wrapper .form {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.form-wrapper .form .input {
  display: block;
  border: 0;
  padding: 6px;
  margin: 5px 0;
  width: 100%;
  border-radius: 4px;
  border: 2px solid var(--input-border);
}
.form-wrapper .form {
  width: 100%;
}

.global-container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 10px;
}

.button {
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 40px;
  background-color: #171717;
  color: white;
  margin-top: 40px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.buttonHoverDark:hover {
  background-color: #2d2d2d;
}

.buttonHoverSuccess:hover {
  background-color: #3276ce;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

#layout {
  flex: 1 1 auto;
}

.layout-dashboard {
  display: flex;
}

#navbar {
  min-height: 80px;
  display: flex;
  background-color: rgb(27, 27, 27);
  flex-direction: column;
  padding: 10px;
  display: fixed;
  top: 0;
  z-index: 99999;
}
#navbar .logo-image {
  width: 150px;
  height: 70px;
}
#navbar .nav-links {
  width: 30%;
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: flex-end;
}
#navbar .nav-links li {
  margin: 0 10px;
}

#dashboard {
  display: grid;
  grid-template-columns: 220px 1fr;
  width: 100%;
  position: relative;
}
#dashboard .dashboard-intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
#dashboard .dashboard-intro button {
  border-radius: 10px;
  width: 200px;
  background-color: #3b8df8;
  border: 0;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
#dashboard .dashboard-intro button:hover {
  background-color: #2c6cbe;
}
#dashboard .content {
  padding: 10px 40px;
}
#dashboard #sidebar {
  padding: 5px 0;
  width: 100%;
  border-right: 1px solid black;
}
#dashboard #sidebar .sidebar-title {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 0 10px;
}
#dashboard #sidebar .sidebar-options-wrapper .sidebar-options {
  list-style: none;
}
#dashboard #sidebar .sidebar-options-wrapper .sidebar-options .sidebar-option {
  transition: all 100ms ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding-left: 30px;
}
#dashboard #sidebar .sidebar-options-wrapper .sidebar-options .sidebar-option:hover {
  background-color: #c1c1c1;
}
#dashboard #sidebar .sidebar-options-wrapper .sidebar-options .sidebar-option span {
  pointer-events: none;
}
#dashboard #sidebar .sidebar-options-wrapper .sidebar-options .sidebar-option .icon {
  pointer-events: none;
  margin: 0 10px;
}
#dashboard .jobs-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill);
  gap: 10px;
}
#dashboard .jobs-wrapper .interactables {
  display: flex;
  justify-content: space-between;
}
#dashboard .jobs-wrapper .interactables .icon {
  color: #171717;
}
#dashboard .jobs-wrapper .rectangleBtn {
  border: 2px solid #171717;
  background-color: white;
}
#dashboard .jobs-wrapper .job-item-wrapper {
  min-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
  background-color: white;
  overflow: hidden;
  max-height: 430px;
}
#dashboard .jobs-wrapper .job-item-wrapper .item {
  margin-bottom: 20px;
  position: relative;
}
#dashboard .jobs-wrapper .job-item-wrapper .item .document {
  width: 100%;
  overflow-y: hidden;
  background-color: rgb(236, 236, 236);
}
#dashboard .jobs-wrapper .job-item-wrapper .item .document .head {
  padding: 10px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#dashboard .jobs-wrapper .job-item-wrapper .item .document embed {
  position: relative;
  display: block;
  padding: 10px 0;
  width: 100%;
}
#dashboard .jobs-wrapper .job-item-wrapper .small {
  font-size: 14px;
  color: grey;
  font-weight: 300;
  margin-left: 10px;
}
#dashboard .jobs-wrapper .job-item-wrapper .company {
  font-weight: 500;
  color: grey;
}
#dashboard .jobs-wrapper .job-item-wrapper h3 {
  font-style: italic;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 40px;
}

.modal {
  position: absolute;
  top: 15%;
  min-width: 300px;
  min-height: 300px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background-color: rgb(245, 245, 245) !important;
  z-index: 200;
}

.add-job-modal {
  height: auto;
  padding: 20px 5px;
}
.add-job-modal form {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.add-job-modal form label {
  font-weight: 500;
}
.add-job-modal form div {
  grid-column: 1/-1;
}
.add-job-modal form #company-wrapper {
  grid-column: 1/-1;
  grid-row: 1;
}
.add-job-modal form #email-wrapper {
  grid-column: 1/3;
  grid-row: 2;
}
.add-job-modal form #position-wrapper {
  grid-column: 3/-1;
  grid-row: 2;
}
.add-job-modal form button {
  grid-column: 1/-1;
  background-color: #3b8df8;
}
.add-job-modal form .file-upload-wrapper {
  display: flex;
  justify-content: center;
  border: 3px dashed #3b8df8;
  border-radius: 17px;
  cursor: pointer;
}
.add-job-modal form .file-upload-wrapper .file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 100;
  text-align: center;
  padding: 22px 0;
}
.add-job-modal form .file-upload-wrapper .file-upload svg {
  color: #3b8df8;
}
.add-job-modal form .file-upload-wrapper .file-upload p {
  font-weight: 500;
  color: #3b8df8;
}
.add-job-modal form .file-upload-wrapper .file-upload span {
  font-size: 12px;
  font-weight: 400;
  color: rgb(145, 145, 145);
}
.add-job-modal form .status-checkbox-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 20px;
}
.add-job-modal form .status-checkbox-wrapper .status-checkbox:nth-child(1) {
  grid-column: 2/3;
}
.add-job-modal form .status-checkbox-wrapper .status-checkbox:nth-child(2) {
  grid-column: 1/2;
}
.add-job-modal form .status-checkbox-wrapper .status-checkbox:nth-child(3) {
  grid-column: 3/-1;
}
.add-job-modal form .status-checkbox-wrapper .off {
  background-color: #ffffff;
  color: #171717 !important;
}
.add-job-modal form .status-checkbox-wrapper .status-checkbox {
  border: 1px solid #171717;
  width: 200px;
  grid-row: 1;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.14);
}
.add-job-modal form .status-checkbox-wrapper .status-checkbox span {
  padding-left: 10px;
}

@media screen and (max-width: 1350px) {
  .status-checkbox-wrapper {
    display: flex !important;
    flex-wrap: wrap !important;
  }
}/*# sourceMappingURL=globals.css.map */