@import 'utilities/variables';

// Bold text
// font-size: 40px

html,
body {
  min-height: 100vh;
}

.max-container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 50px;
}

.index-header {
  height: 100%;
  background-image: url('/assets/busy-downtown.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 100;

  .content {
    z-index: 100;
    padding-top: 10%;
    max-width: 65%;

    .title {
      color: white;
      font-size: 56px;
      font-weight: 500;

      span {
        font-weight: 100;
      }
    }

    p {
      font-size: 18px;
      max-width: 50%;
      color: $fadedText;
    }

    button {
      margin-top: 70px;
      width: 250px;
      background-color: $yorkYellow;
      color: white;
      font-size: 20px;
      font-weight: 400;
      transition: all 150ms ease-in-out;

      &:hover {
        background-color: $yorkYellowDarken;
      }
    }
  }

  ::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -10;
    background-color: rgba(0, 0, 0, 0.148);
  }
}

.grid {
  display: grid;
}

.mission {
  color: $dark-grey-black;

  .utility {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // padding: 30px;
    gap: 5px;

    .container {
      flex-grow: 2;
      max-width: 600px;

      .prelude {
        padding-top: 80px;
        color: $fadedText;
      }

      .text-body {
        // max-width: 60%;
        padding-top: 30px;
      }
    }

    .image-container {
      flex-grow: 1;
      position: relative;
      max-width: 400px;
      margin-top: 20px;
      //   overflow: hidden;
      //   border-radius: 10px;
      img {
        border-radius: 10px;
        object-fit: cover;
        max-height: 600px;
        width: 100%;
      }
    }
  }
}

// Inform

.inform {
  color: $dark-grey-black;
  position: relative;

  .title {
    text-align: center;
    padding-bottom: 100px;
  }

  .utility {
    display: flex;
    gap: 5%;
    justify-content: center;
    flex-wrap: wrap;

    .info-item {
      display: flex;
      flex-direction: column;
      background-color: white;
      text-align: center;
      max-width: 20%;
      min-width: 300px;

      margin: 20px;
      padding: 40px 20px;
      border-radius: 5px;
      min-height: 400px;

      -webkit-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.33);
      -moz-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.33);
      box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.33);

      .icon-wrapper {
        display: flex;
        justify-content: center;
        padding-top: 50px;

        .icon {
          border-radius: 50%;
          padding: 10px;
          overflow: hidden;
          aspect-ratio: 1 / 1;
          scale: 1.5;
        }
      }

      .title {
        font-size: 30px;
      }

      .content {
        margin: 0 auto;
        margin-top: auto;
        max-width: 100%;
        min-height: 129px;
        align-self: flex-end;
      }
    }
  }

  &::after {
    content: '';
    background-color: $fadedText;
    width: 200px;
    height: 2px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
  }
}

.section {
  padding-top: 100px;
}

@media screen and (max-width: 500px) {
  .max-container {
    padding: 0 10px;
  }

  .index-header {
    .content {
      max-width: 100%;
    }
  }
}
